/*These are additions in a stylesheet*/ 

h1 { 
    color:red;
}

h2 { 
    color:blue;
}

h3 { 
    color:green;
    text-decoration: wavy;
}

h4 { 
    color:white;
}

h5 { 
    color:pink;
}

h6 { 
    color:purple;
} 

body { 
    text-align:center;
}
